:root {
    --color-default-button: white;
    --color-default-element: rgb(241, 241, 241);

    --color-hover-highlight: rgb(253, 74, 74);
    --color-gray: rgb(48, 48, 48);


    --soft-curve-radius: 5px;
    --round-curve-radius: 100px;

    --border-thickness-std: 2px;
    --border-thickness-thin: 1px;
    --border-thickness-thick: 4px;

    /* COLOR VARIABLES */
    --white: #FEFEFE;
    --dark: #172A3A;
    --accent1: #FF963B; 
}


/* Colors */
.top-strip {
    background: #FEFEFE;
background: linear-gradient(158deg, var(--white) 0%, rgb(240, 242, 244) 100%);
}

footer {
    background-color: var(--dark);
    color: var(--white);
}

#outro {
    color: var(--accent1)
}

.underline {
    border: none;
    background: #ff957a;
    background: linear-gradient(158deg, rgba(255, 149, 122, 1) 0%, rgba(255, 150, 59, 1) 100%);
}

/* Common Themes, applied to a variety of block elements */
.ctheme-transparent-60 {
    opacity: 60%;
}

.ctheme--shadow-light {
    border-width: 0px;
    box-shadow: 2px 2px 4px -4px;
}

.ctheme--shadow-none {
    box-shadow: none;
}

.ctheme--shadow-heavy {
    border-width: 0px;
    box-shadow: 0px 3px 16px -8px;
}

.ctheme--small-radius {
    border-radius: var(--soft-curve-radius);
}

.ctheme--large-radius {
    border-radius: var(--round-curve-radius);
}

/* Block or Element specific styling */


.link{
    color: var(--color-gray);
    transition: color;
    transition-duration: 0.65s;
    text-decoration: none;
}

.link:hover {
    color: var(--color-hover-highlight);
}

.btn {
    background-color: var(--color-default-element);
    border-radius: var(--round-curve-radius);
    border-color: black;
    border-width: 0px;
    border-style: solid;
    padding: 8px 16px;
}

.btn--soft-corners {
    border-radius: var(--soft-curve-radius);
}

.btn--outlined {
    box-shadow: none;
    border-width: var(--border-thickness-std);
}


.footer-section {
    opacity: 70%;
}


/* stuff for style guide */
.stack-panel--column {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    align-items:flex-start;
}

.sg-title {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(164, 255, 255);
    padding: 10px 20px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.sg-title::before{
    content: "-- ";
}

.code {
    all: initial;
    font-family: monospace;
    background-color: rgba(155,155,155, 0.2);
    padding: 2px 10px;
    border-radius: var(--soft-curve-radius);
}