@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {

}

* {
    /* Set default fonts and weights for document. Few elements will stray from these stylings */
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal; 
}

h1 {
    font-size: 2.5rem;
    letter-spacing: 0.15rem;
    line-height: 1.1;
}

h2 {
    font-size: 1.5rem;
    letter-spacing: 0.05rem;
    line-height: 1.1;
}

h3 {
    font-size: 1.4rem;
}

p {
    font-size: 1.2rem;
}


/* Specific element styling */
p.title-main {
    font-size: 1.4rem;
    font-weight: 550;
}
p.title-sub {
    font-weight: 450;
    font-size: 1.2rem
}